/* calender */

.calender {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 20px;
    column-gap: 10px;
}

.day {
    background-color: rgb(203, 195, 123);
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.date {
    background-color: rgb(196, 103, 182);
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

/* responsive-card */

.product {
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
}

.product img {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

@media  screen and (max-width:576px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media  screen and (min-width:576px) and (max-width:992px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* complex-layout-grid */

.container1 {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 200px);
}

img {
    height: 100%;
    width: 100%;
}

.big-layout {
    grid-column: span 6;
    grid-row: span 2;
}

.normal-layout {
    grid-column: span 2;
    grid-row: span 2;
}

.wide-layout {
    grid-column: span 2;
    grid-row: span 1;
}

/* complex-layout-grid-2 */

.container2 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 2fr), 50px, 50px;
}

.box {
    background-color: gray;
    padding: 10px;
}

#sidebar {
    grid-row: span 5;
    background-color: gray;
    padding: 10px;
}

.footer {
    grid-column: span 3;
    background-color: gray;
    padding: 10px;
}